/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.event-title.mat-grid-tile  .mat-figure{
  justify-content: left;
}
.main-container{
  max-width: 970px;
  margin:4rem auto;
}
.page-title, p{
  font-family: Roboto,"Helvetica Neue",sans-serif;
}
.success{
  background: #2E7D32;
  color: #fff;
}
.error{
  background: #C62828;
  color: #fff;
}
